<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <connectionStrings>
    
    <add name ="cn" connectionString="server=DESKTOP-D96OK7M\SQLEXPRESS;database=dbemployee;uid=sa;pwd=jonny1290"/>
    
  </connectionStrings>
</configuration>
